

<div>
  <select id="sort-by" class="sort-dropdown-toggle w-dropdown-toggle">
    <!-- <option value="manual" >Sort By</option> -->
    <option class="sort-options" value="price-ascending">Price: Low to High</option>
    <option class="sort-options" value="price-descending">Price: High to Low</option>
    <option class="sort-options" value="title-ascending">A-Z</option>
    <option class="sort-options" value="title-descending">Z-A</option>
    <option class="sort-options" value="created-ascending">Oldest to Newest</option>
    <option class="sort-options" value="created-descending">Newest to Oldest</option>
    <option class="sort-options" value="best-selling">Best Selling</option>
  </select>
</div>
