<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <div class="table-cell">
    <h3>Your Basket</h3>
    </div>
    <div class="table-cell">
    <span class="drawer__close js-drawer-close">
        X
    </span>
    </div>
  </div>
  <div id="CartContainer"></div>
</div>